.Carta {
  display: inline-block;
  background-image: linear-gradient(
    to left,
    #ffc400b9,
    #ccac1e,
    #aa9832,
    #9b966f,
    #6d6a50
  );
  margin: 15px;
  padding: 1rem;
  border-radius: 20px;
  transition: all 300ms;
  border: solid black;
}

.Carta:hover {
  transform: scale(1.01);
}

.Img {
  border-radius: 20px;
}

.closebtn {
  text-decoration: none;
  position: 0;
  border: none;
  font-size: 15px;
  font-family: inherit;
  color: rgb(0, 0, 0);
  width: 11em;
  height: 3em;
  line-height: 2em;
  text-align: center;
  background: linear-gradient(90deg, #ffc400b9,  #6d6231, #585544, #000000);  background-size: 300%;
  border-radius: 30px;
  z-index: 1;
  cursor: pointer;
}

.closebtn:hover {
  animation: ani 8s linear infinite;
  border: none;
  border: solid black;
}

@keyframes ani {
  0% {
    background-position: 0%;
  }

  100% {
    background-position: 400%;
  }
}

.closebtn:before {
  content: "";
  position: 0;
  top: -5px;
  left: -5px;
  right: -5px;
  bottom: -5px;
  z-index: -1;
  background: linear-gradient(90deg, #ffc400b9,  #6d6231, #585544, #000000);
  background-size: 400%;
  border-radius: 35px;
  transition: 1s;
}

.closebtn:hover::before {
  filter: blur(20px);
}

.closebtn:active {
  background: linear-gradient(90deg, #ffc400b9,  #6d6231, #585544, #000000);}

.Span {
  font-weight: bold;
}

.descriptionbtn {
  border: none;
  font-size: 15px;
  font-family: inherit;
  color: rgb(0, 0, 0);
  width: 25em;
  height: 3em;
  line-height: 2em;
  text-align: center;
  background: linear-gradient(90deg, #ffc400b9,  #6d6231, #585544, #000000);
  background-size: 300%;
  border-radius: 30px;
  z-index: 1;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 20px;
}

.descriptionbtn:hover {
  animation: ani 8s linear infinite;
  border: none;
  border: solid black;
}

@keyframes ani {
  0% {
    background-position: 0%;
  }

  100% {
    background-position: 400%;
  }
}

.descriptionbtn:before {
  content: "";
  position: 0;
  top: -5px;
  left: -5px;
  right: -5px;
  bottom: -5px;
  z-index: -1;
  background: linear-gradient(90deg, #ffc400b9,  #6d6231, #585544, #000000);
  background-size: 400%;
  border-radius: 35px;
  transition: 1s;
}

.descriptionbtn:hover::before {
  filter: blur(20px);
}

.descriptionbtn:active {
  background: linear-gradient(90deg, #ffc400b9,  #6d6231, #585544, #000000);}

.cardfont {
  font-weight: bold;
  font-size: 27px;
}

@media screen and (max-width: 500px) {
  .Carta {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-content: center;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
    margin-inline-start: 2cm;
  }
}

.botonardo {
  text-decoration: none;
  position: 0;
  border: none;
  font-size: 15px;
  font-family: inherit;
  color: rgb(0, 0, 0);
  width: 11em;
  height: 3em;
  line-height: 2em;
  text-align: center;
  background: linear-gradient(90deg, #ffc400b9,  #6d6231, #585544, #000000);  background-size: 300%;
  border-radius: 30px;
  z-index: 1;
  cursor: pointer;
}

.botonardo:hover {
  animation: ani 8s linear infinite;
  border: none;
  border: solid black;
}

@keyframes ani {
  0% {
    background-position: 0%;
  }

  100% {
    background-position: 400%;
  }
}

.botonardo:before {
  content: "";
  position: 0;
  top: -5px;
  left: -5px;
  right: -5px;
  bottom: -5px;
  z-index: -1;
  background: linear-gradient(90deg, #ffc400b9,  #6d6231, #585544, #000000);
  background-size: 400%;
  border-radius: 35px;
  transition: 1s;
}

.botonardo:hover::before {
  filter: blur(20px);
}

.botonardo:active {
  background: linear-gradient(90deg, #ffc400b9,  #6d6231, #585544, #000000);}

  .td{
    text-decoration: none;
  }