.App {
   text-align: center;
   
}
body{
   background-image:url(https://www.xtrafondos.com/descargar.php?id=5441&resolucion=3840x2160);
   background-position: center center; 
   background-attachment: fixed;
   background-size: cover;
   background-color: #999;
   display: flex;
   justify-content: center;
   align-items: center;
}


.Title{ 
   width: 45rem;
   align-items: center;
   justify-content: center;
   margin-left: 70px;
   margin-top: -60px;
}

@media screen and (max-width: 500px ){
  
 .Title{
   width:10rem ;
  
 } 
}